@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.light-purple {
    color: #6822a1 !important;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    background-color: rgb(245, 245, 245);
}

input,
textarea {
    width: 100%;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #c0c4cc;
    height: 40px;
    transition: all 300ms ease;
}

input:hover,
textarea:hover {
    border-color: #ffffff;
}

input:focus,
textarea:focus {
    border-color: #6822a1;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: 700;

}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}
.click:active {
    transform: scale(0.9);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 3px;
    width: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white::after {
    background-color: #fff;
}
.link__hover-effect--black::after {
    background-color: #000;

}

.link__hover-effect:hover::after {
    left: 0;
    width: 100%;
}

/* 

LANDING PAGE

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 540px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #6822a1;
    color: #fff;
    padding: 8px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    background-color: #242424;
    color: #fff;
    position: absolute;
    bottom: 32px;
    right: 40px; 
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.scroll__icon::after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1s infinite alternate-reverse;
}
@keyframes scroll {
    0% {
        transform:  translateY(-6px);
    }
    100% {
        transform:  translateY(-2px);
        
    }
}


/* 

NAVIGATION

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    padding: 0 20px;
    margin: 0 auto;
}

#personal--logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0px 12px;
}


.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

/* 

MODAL

*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 600px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    position: relative;
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__about {
    background-color: rgb(245, 245, 245);
}

.modal__title {
    font-size: 28px;
}

.modal__sub-title {
    font-size: 16px;
    margin: 12px 0 24px;
}

.modal__para {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 2;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;

}

.modal__language {
    width: 25%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal__language:hover {
    transform: scale(0.9);
    filter: brightness(0.8);
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
}

.modal__language:hover .language__name {
    transform: scale(1.2);
}


.modal__language--img {
    width: 100%;
}


.modal__contact {
    background-color: #242424;
    color: white;
}

.form__item {
    margin-bottom: 20px;
    
}

.form__submit {
    background-color:#6822a1;
    border:  2px solid #6822a1;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    transition:all 200ms ease;
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
}

.form__submit:active {
    border-color: #6822a1;
    color: #6822a1;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
}

.fa-spinner {
    animation: spinner 1000ms infinite linear;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
     }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}


/* 

PROJECTS

*/


.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.project__wrapper:hover .project__desc--bg {
    opacity: 0.7;
}
.project__wrapper:hover .project__desc {
    opacity: 1;
    transform: translateY(-50%);
}
.project__wrapper:hover .project__img{
    filter: blur(2px);
    transform: scale(1.07);
}

.project__desc {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease ;
    color: #fff;
    max-width: 550px;
}

.project__desc--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C1D25;
    opacity: 0;
    transition: all 300ms ease;
}

.project__desc--title {
    font-size: 40px;
}
.project__desc--sub-title {
    margin-top: 8px;
}

.project__desc--link {
    color: #fff;
    font-size: 20px;
    margin-right: 16px;
}

.project__desc--para {
    margin:  16px 0;
}

.project {
    margin-bottom: 120px;
}

/* 

FOOTER

*/


footer {
    background-color: #242424;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 70px;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: #fff;
}































